@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #ffae00;
    --secondary-color: #ff5100;
    --accent-color: #1abc9c;
    --text-color: #333;
    --background-color: #f0f0f0;
    --header-text-color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    font-family: "Oswald", Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--header-text-color);
    padding: 15px 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", Arial, sans-serif;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--header-text-color);
    padding: 0.5em;
    margin-top: 0;
}

nav {
    background-color: var(--secondary-color);
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: var(--header-text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--accent-color);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

details {
    margin: 2em 0;
}

summary {
    font-weight: bold;
    cursor: pointer;
    border-bottom: var(--primary-color) 1px solid;
}

details[open] summary {
    border-bottom: none;
}

table {
    width: 100%;
    margin-bottom: 2em;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid var(--accent-color);
}

th {
    font-family: "Oswald", Arial, sans-serif;
    background-color: var(--accent-color);
    color: var(--header-text-color);
    padding: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}